
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-report
allure-results
my-report
cucumber-report.html
cucumber-report.json
.playwright-cli/
